.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .progress-level {
    height: 100%;
    border-radius: 10px;
    background-color: #4caf50; /* Couleur de fond de la barre de progression */
  }
  
button {
  background-color: #4caf50; /* Couleur de fond des boutons */
  color: white; /* Couleur du texte des boutons */
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049; /* Couleur de fond des boutons au survol */
}
